body {
    margin: 0;
    padding: 0;
}

.body-container {
    width: 80%;
    margin: auto;
}

.fix-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.fix-box-left {
    margin-right: 10px;
}

.select-box {
    display: flex;
    justify-content: center;
}

.select-box-left {
    margin-right: 10px;
}

.select-box-right-input {
    display: flex;
    justify-content: left;
    align-items: center;
}

.size-box {
    font-size: 12px;
    color: gray;
}

.select-box-right-list {
    width: 300px;
    min-height: 100px;
    border: 1px solid #000;
    border-radius: 2px;
}

.extension-element {
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 2px;
}

.x-btn {
    font-weight: bold;
}