.fix-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.select-box {
    display: flex;
    justify-content: center;
}

.select-box-right-input {
    display: flex;
    justify-content: center;
    align-items: center;
}